<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BuildWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tfsprd:8080/tfs/_tfs_resources/Build/V3.0/BuildService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BuildWebServiceSoap"
                contract="TfsBuildWebService.BuildWebServiceSoap" name="BuildWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>